@charset "utf-8";
/* CSS Document */
header, section, article, nav, footer, aside, figure{
	display:block;
	margin:0;
	padding:0;	
}
body{
	margin:0;
	background:#CCE2E0;	
}
*{
	box-sizing:border-box;
}
p, h1, h2, h3, h4{
	font-family:sans-serif;
	font-size:14px;
	color:#000;
	margin:6px;
}
h2{ 
	font-size:80px;
	font-weight:normal;
	font-family:"Oswald", Arial, sans-serif;
}
h3{ 
	font-size:40px;
	font-weight:normal;
	font-family:"Open Sans Condensed", Arial, sans-serif;
}
h4{ font-size:16px; }
a{
	font-family:Arial, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#000;
}
a img{
	border:none;
}
ul, ol{
	font-family:Arial, sans-serif;
	font-size:14px;
	color:#000;
}
/*************************************************/
#container{
	width: 1050px;
	height:600px;
	margin:auto;
	overflow:hidden;
	margin-top:50px;
}
.slider{
	width:1050px;
	height:600px;
}
.elements{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	padding:5%;
	display:none;
}
.e_visible{
	display:block;
}

.box-left{
	width:60%;
	float:left;
	margin-right:5%;
}
.box-left p{
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
}
.box-left a{
	width:240px;
	height:45px;
	line-height:45px;
	text-align:center;
	margin:30px 6px;
	display:block;
	border-radius:6px;
	font-size:16px;
	background:#05B0CC;
	color:#FFFFFF;
}
.box-left a:hover{
	background:#FFFFFF;
	color:#000000;
}
.image{
	width: 35%;
	float: left;
}
.image img{
	display:block;
	margin:auto;
	margin-top:80px;
}
